<h2>Of And From</h2>
<div class="row">
    <div class="col-md-5 m-2">
        <div class="card">
          <div class="card-header text-center">Of("Hamza","Asad","Haseeb")</div>
          <div class="card-body">
            <ul id="elContainer"></ul>
          </div>
        </div>
      </div>
    <div class="col-md-5 m-2">
        <div class="card">
          <div class="card-header text-center">Of("a:Hamza","b:Asad","c:Haseeb")</div>
          <div class="card-body">
            <ul id="elContainer2">
                <li><strong>a:</strong>{{obsMsg.a}}</li>
                <li><strong>b:</strong>{{obsMsg.b}}</li>
                <li><strong>c:</strong>{{obsMsg.c}}</li>
            </ul>
          </div>
        </div>
      </div>
   
    <div class="col-md-5 m-2">
        <div class="card">
          <div class="card-header text-center">From(["Hamza","Asad","Haseeb"])</div>
          <div class="card-body">
            <ul id="elContainer3">
                
            </ul>
          </div>
        </div>
      </div>
    <div class="col-md-5 m-2">
        <div class="card">
          <div class="card-header text-center">Promise To Observable</div>
          <div class="card-body">
            <ul id="elContainer4">
                
            </ul>
          </div>
        </div>
      </div>
</div>