<div class="container">
  <div class="row">
    <div class="col-md-3 m-2">
      <div class="card bg-primary" >
        <a
          routerLink="fromevent"
          class="text-decoration-none text-center text-dark font-weight-bold"
        >
          <div class="card-body">From Event</div>
        </a>
      </div>
    </div>
    <div class="col-md-3 m-2">
      <div class="card bg-primary" >
        <a
          routerLink="interval"
          class="text-decoration-none text-center text-dark font-weight-bold"
        >
          <div class="card-body">InterVal</div>
        </a>
      </div>
    </div>
    <div class="col-md-3 m-2">
      <div class="card bg-primary" >
        <a
          routerLink="ofandfrom"
          class="text-decoration-none text-center text-dark font-weight-bold"
        >
          <div class="card-body">Of And From</div>
        </a>
      </div>
    </div>

    <div class="col-md-3 m-2">
      <div class="card bg-primary" >
        <a
          routerLink="toarray"
          class="text-decoration-none text-center text-dark font-weight-bold"
        >
          <div class="card-body">To Array</div>
        </a>
      </div>
    </div>


    <div class="col-md-3 m-2">
      <div class="card bg-primary" >
        <a
          routerLink="customobs"
          class="text-decoration-none text-center text-dark font-weight-bold"
        >
          <div class="card-body">Custom Observable</div>
        </a>
      </div>
    </div>

    
  </div>
</div>
